<html>
<head>
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;" />
<style type="text/css">
blockquote { border-left: solid 3px gray;
             margin-left: 5px;
             padding-left: 5px; }
p { margin: 0 0 0.5em 0; }
a { color: black; }
#source, #source * { color: gray; }
#source { margin-top: 0.5em;
          font-size: small; }
#player > * { width: 100%;
              height: auto; }
img { margin-bottom: 5px; }
.text img, .link img { max-width: 90%; display: block; }
</style>
</head>
<body style="word-wrap: break-word;">
<p><span id="blog_name">{blog_name}:</span></p>
<div class="{post_type}">
{post_data}
</div>
</body></html>
